@import '../../styles/var.scss';
.swap {
  &__img {
    margin: 15px 0 15px auto;
    display: block;
  }
  &__btn {
    margin-top: 65px;
  }
  &__price {
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 25px;
    text-align: center;
    span + span {
      color: $orange;
    }
  }
  &__select {
    &-dropdown {
      background: #1f1f1f !important;
    }
    &-option {
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
      }
      p {
        font-family: MonB;
      }
      &-text {
        color: white;
        font-size: 16px;
        line-height: 20px;
        font-family: MonB;
        height: fit-content;
      }
      &-box {
        background: #1f1f1f !important;
        &:hover {
          background: #000 !important;
        }
      }
    }
    &-item {
      // background: #1f1f1f;
      border-radius: 8px !important;
      position: relative;
      .ant-select {
        position: relative;
        &::before {
          content: '';
        }
      }
      .ant-select-selector {
        background-color: #1f1f1f !important;
        border: none !important;
        border-radius: 8px !important;
        height: 65px !important;
        width: 180px !important;
        padding: 16px 18px !important;
        box-shadow: none !important;
        &:focus {
          outline: none;
        }
      }
      .ant-select-arrow {
        background-position: left top;
        width: 14px;
        background: url(../../assets/img/select-arrow.svg) no-repeat;
        height: 9px;
      }
      .ant-select-focused {
        .ant-select-arrow {
          opacity: 0.5;
        }
      }
    }
  }
  &__percent {
    display: grid;
    align-items: center;
    max-width: 455px;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto 10px;
    &-item {
      cursor: pointer;
      padding: 10px 32px;
      opacity: 0.5;
      color: white;
      font-family: MonS;
    }
  }
  &__item {
    display: flex;
    padding: 18px 10px 18px 20px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    width: 100%;
    position: relative;
    &-ratio {
      position: absolute;
      font-size: 14px;
      line-height: 17px;
      color: white;
      opacity: 0.5;
      font-size: 14px;
      line-height: 17px;
      top: calc(100% + 10px);
      left: 0;
    }
    &-input {
      font-family: MonM;
      width: 100%;
      color: white;
      p {
        font-size: 12px;
        line-height: 15px;
        opacity: 0.5;
      }
      input {
        margin-top: 5px;
      }
    }
  }
}

.lighttheme {
  .swap {
    &__price {
      color: $lighttext;
      span + span {
        color: $lighttext;
      }
    }
    &__item {
      background: #ffffff;
      border: 1px solid rgba(74, 85, 104, 0.1);
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
      border-radius: 12px;
      &-ratio {
        color: $lighttext;
      }
      &-input {
        p {
          color: $lighttext;
        }
        input {
          color: $lighttext;
          &::placeholder {
            color: $lighttext;
          }
        }
      }
    }
    &__percent {
      &-item {
        color: $lighttext;
      }
    }
    &__select {
      font-family: MonB !important;
      &-option {
        color: $lighttext !important;
        background-color: #f1f6fc !important;
        font-family: MonB !important;
        &-text-light {
          color: $lighttext !important;
          font-size: 16px;
          font-family: MonB !important;
          line-height: 20px;
          height: fit-content;
          display: block;
        }
        &-box-lighttheme {
          background-color: #f1f6fc !important;
          color: $lighttext !important;
          font-family: MonB !important;
          .swap__select-option-text-light {
            color: $lighttext !important;
            font-family: MonB !important;
            margin-left: 20px;
          }
        }
      }
      .ant-select-selector {
        background-color: #f1f6fc !important;
      }
      &-item {
        background: #f1f6fc !important;
        .ant-select-selector {
          background-color: #f1f6fc !important;
        }
        .ant-select-arrow {
          background: url(../../assets/img/select-arrow-light.svg) no-repeat;
        }
      }
    }
  }
}
