@import '../../styles/var.scss';
.deposit {
  &__box {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  &__max {
    color: $text;
    font-size: 10px;
    line-height: 12px;
    font-family: MonM;
    margin-left: auto;
    padding: 7px 8px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    height: fit-content;
    cursor: pointer;
    width: 66px;
  }
  &__rewards {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    padding: 27px 23px;
    display: flex;
    align-items: center;
    margin: 20px 0 30px;
    img {
      margin-right: 15px;
    }
    &-title {
      font-size: 12px;
      line-height: 15px;
      color: white;
      margin-bottom: 5px;
      font-family: MonM;
    }
    &-content {
      font-size: 16px;
      line-height: 20px;
      color: $orange;
      font-family: MonB;
    }
  }
  &__amount {
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    padding: 20px;
    font-family: MonM;
    &-head {
      font-size: 12px;
      line-height: 15px;
      color: $text;
      display: flex;
      justify-content: space-between;
    }
    &-input {
      margin-top: 5px;
      background: transparent !important;
      width: 85% !important;
      border: none !important;
      box-shadow: none !important;
      .ant-input-number-handler-wrap {
        display: none !important;
      }
      input {
        padding: 0 !important;
      }
    }
  }
}
.lighttheme {
  .deposit {
    &__amount {
      background: #ffffff;
      border: 1px solid rgba(74, 85, 104, 0.1);
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
      border-radius: 12px;
      span {
        color: $lighttext;
        opacity: 0.5;
      }
    }
    &__rewards {
      border: 1px solid rgba(74, 85, 104, 0.25);
      border-radius: 12px;
      &-title {
        color: #000;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .deposit {
    &__amount {
      padding: 13px 15px;
      background: #1b1a19;
    }
    &__rewards {
      padding: 20px 23px;
    }
  }
}
