@font-face {
  font-family: 'MonB';
  src: url('../assets/fonts/Montserrat-Bold.woff') format('woff');
}
@font-face {
  font-family: 'MonM';
  src: url('../assets/fonts/Montserrat-Medium.woff') format('woff');
}
@font-face {
  font-family: 'MonS';
  src: url('../assets/fonts/Montserrat-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'MonR';
  src: url('../assets/fonts/Montserrat-Regular.woff') format('woff');
}
