.withdraw {
  &__wrapper {
    display: flex;
  }
  &__rewards {
    width: 100%;
    & + & {
      margin-left: 20px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .withdraw {
    &__rewards {
      padding-right: 10px;
      & + & {
        margin-left: 10px;
      }
      &-content {
        font-size: 13px;
      }
    }
  }
}
