@import '../../styles/var.scss';

.history {
  padding-top: 10px;
  &__empty {
    width: 21px;
  }
  &__box {
    padding: 0 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 60px;
  }
  &__head {
    margin-bottom: 10px;
    &-item {
      font-size: 12px;
      color: $text;
      line-height: 14px;
      font-family: MonB;
      display: flex;
      align-items: center;
      transition: 0.3s;
      img {
        margin-left: 8px;
        transform: scale(1.2);
      }
      &.active {
        color: $orange;
      }
      &-date {
        cursor: pointer;
      }
    }
  }
  &__item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 12px;
    background: #292929;
    font-size: 14px;
    line-height: 16px;
    color: $text;
    & + & {
      margin-top: 5px;
    }
    &-date {
      color: $orange;
      font-family: MonB;
      text-transform: lowercase;
    }
    &-supply {
      display: flex;
      align-items: center;
      img {
        margin-right: 5px;
      }
    }
  }
  &__pages {
    margin: 30px auto 0;
    width: fit-content;
    .ant-pagination-item,
    .ant-pagination-item-link {
      border-radius: 12px;
      font-size: 14px;
      line-height: 32px;
      background: #292929 !important;
      border: none !important;
      a {
        color: $text !important;
      }
      &-active {
        a {
          color: $orange !important;
        }
      }
      svg {
        fill: $text !important;
      }
      &-ellipsis {
        color: $text !important;
      }
    }
    .ant-pagination-options {
      display: none !important;
    }
  }
}
.lighttheme {
  .history {
    &__pages {
      .ant-pagination-item-link {
        background: white !important;
        svg {
          fill: $lighttext !important;
        }
      }
      .ant-pagination-item {
        background: white !important;
        a {
          color: $lighttext !important;
        }
        &-active {
          a {
            color: $orange !important;
          }
        }
      }
    }
    &__head {
      &-item {
        color: $lighttext;
        &.active {
          color: $orange;
        }
      }
    }
    &__item {
      background: #fff;
      color: $lighttext;
    }
  }
}

@media only screen and (max-width: 991px) {
  .history {
    &__box {
      grid-template-columns: 1fr 1fr 60px;
    }
    &__item {
      padding-bottom: 42px;
      position: relative;
      &-date {
        position: absolute;
        bottom: 12px;
        left: 24px;
      }
    }
    &__head {
      &-item {
        &-date {
          display: none;
        }
      }
    }
  }
}
