@import '../../styles/var.scss';
.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  &__item {
    padding: 27px 24px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    &-head {
      font-size: 12px;
      line-height: 15px;
      font-family: MonM;
      margin-bottom: 5px;
      color: #fff;
    }
    &-content {
      font-family: MonB;
      font-size: 16px;
      line-height: 20px;
      color: $orange;
    }
  }
}
.lighttheme {
  .stats {
    &__item {
      background: #ffffff;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-radius: 12px;
      &-head {
        color: $lighttext;
      }
    }
  }
}
